# ===========================
# BUILD & DIST FOLDERS
# ===========================
/build/
/dist/
/SIESC/build/
/SIESC/dist/
/SIESC-ejb/build/
/SIESC-ejb/dist/

# ===========================
# NETBEANS PRIVATE CONFIG
# ===========================
nbproject/private/
**/nbproject/private/

# ===========================
# NO IGNORAR ESTOS:
# (IMPORTANTES para NetBeans)
# ===========================
!nbproject/project.properties
!**/nbproject/project.properties
!nbproject/project.xml
!**/nbproject/project.xml

# ===========================
# SISTEMA OPERATIVO
# ===========================
Thumbs.db
.DS_Store
