/SIESC/dist/
/dist/
/SIESC-ejb/build/
/SIESC/build/
/SIESC-ejb/dist/
/build/
nbproject/private/
**/nbproject/private/
**/nbproject/private/private.properties
**/nbproject/private/private.xml
**/nbproject/project.properties