body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003366;
}

/* Estructura principal */
.layout-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ===== TOPBAR ENCABEZADO ===== */
.layout-topbar {
    background-color: #003366 !important;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    z-index: 1000;
}

.menu-toggle-btn {
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.menu-toggle-btn i {
    font-size: 2.5rem !important;
}

.layout-topbar .title {
    flex: 1;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
}

.ui-button .ui-button-text {
    padding: 0 !important;
    line-height: 1.2 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
        height: 40px !important;
}

/* ===== SIDEBAR  EN DONDE ESTA EL MENU===== */
.layout-sidebar {
    width: 260px;
    background-color: #E3F2FD !important; /* base del menu*/
    border-right: 1px solid #ddd;
    overflow-y: auto;
    padding: 15px;
}

.layout-sidebar.collapsed {
    width: 0;
    padding: 0;
    overflow: hidden;
}

/* ===== MAIN ===== */
.layout-main-container {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.layout-main {
    flex: 1;
    padding: 1rem 2rem !important;
    overflow-y: auto;
    background-color: #f4f6f9;
    text-align: center;
    animation: fadein 0.8s ease;
}

/* ===== PANELMENU  ===== */

.custom-menu.ui-panelmenu {
    border: 1px solid rgba(0, 191, 214, 0.35) !important;
    border-radius: 12px;
    background: #ffffff !important;
    box-shadow: 0 3px 12px rgba(0,0,0,0.10);
}

/* Encabezados de cada sección */
.custom-menu .ui-panelmenu-header {
    background: linear-gradient(90deg, #037DBE, #037DBE) !important;
    color: #ffffff !important;
    font-weight: 600 !important;
    font-size: 0.97rem;
    padding: 10px 14px !important;
    border-radius: 10px !important;
    margin-bottom: 6px;
    transition: background 0.25s;
}

.custom-menu .ui-panelmenu-header:hover {
    background: linear-gradient(90deg, #27D2E8, #00A4C2) !important;
    cursor: pointer;
}

/* Contenido interno */
.custom-menu .ui-panelmenu-content {
    background: #F3FBFD;
    padding: 4px 0;
}

/* Items dentro de cada menú */
.custom-menu .ui-menuitem-link {
    padding: 8px 14px !important;
    border-radius: 6px;
    font-size: 0.9rem;
    color: #003366 !important;
    transition: background 0.2s, color 0.2s;
}

.custom-menu .ui-menuitem-link:hover {
    background: #E3F2FD !important;  /* suave  cuando pasa el mause por cada opcion*/
    color: #00264d !important;
}

/* Iconos institucionales */
.custom-menu .ui-menuitem-icon {
    color: #007DA6 !important;
}

/* ===== ESTILO ACTIVO REAL DEL PANELMENU ===== */

/* Texto activo */
.custom-menu .ui-menuitem-link.ui-state-active,
.custom-menu .ui-menuitem-link.ui-state-highlight,
.custom-menu .ui-menuitem-link.ui-state-hover.ui-state-active {
    color: #ffffff !important;
    font-weight: 600 !important;
}

/* Fondo activo */
.custom-menu .ui-menuitem-link.ui-state-active,
.custom-menu .ui-menuitem-link.ui-state-highlight {
    background: #00BFD6 !important;
}

/* Icono activo */
.custom-menu .ui-menuitem-icon.ui-state-active,
.custom-menu .ui-menuitem-icon.ui-state-highlight {
    color: #ffffff !important;
}





/* ================================
   PANEL PRINCIPAL (custom-card)
   ================================ */
.custom-card.ui-panel {
    border-radius: 14px !important;
    background: var(--surface-card) !important;
    border: 1px solid var(--surface-border) !important;
    padding: 0 !important;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.custom-card .ui-panel-titlebar {
    background: #1976D2 !important;
    color: #ffffff !important;
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    text-align: center !important;
    padding: .7rem !important;
    border-radius: 14px 14px 0 0 !important;
     height:30px !important;
}

.custom-title {
    color: inherit !important;

}

/* ================================
   GRID INTERNO (custom-grid)
   ================================ */
.custom-grid, .custom-panelgrid, .flat-panelgrid {
    border: none !important;
    background-color: #E3F2FD !important;
    padding: 10px !important;
    border-radius: 8px !important;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);

}
/* PanelGrid plano, sin borde ni sombra */
.custom-panelgrid,
.custom-panelgrid .ui-panelgrid-cell,
.custom-panelgrid .label,
.custom-panelgrid .value,
.custom-panelgrid .ui-widget-content {
    border: none !important;          /* Quita todos los bordes */
    box-shadow: none !important;      /* Quita cualquier sombra */
    background: #E3F2FD !important;   /* Fondo azul muy suave */
    padding: 8px 10px !important;     /* Espacio interno */
    border-radius: 8px !important;    /* Esquinas ligeramente redondeadas */
}
/* Eliminar todos los bordes del panelGrid */
.flat-panelgrid,
.flat-panelgrid .ui-panelgrid-cell,
.flat-panelgrid .label,
.flat-panelgrid .value,
.flat-panelgrid .ui-widget-content {
    border: none !important;
    background: #FFFFFF!important; /* blanco de fondo */
    padding: 8px 10px !important;
    border-radius: 8px !important; /* opcional, esquinas suaves */
    box-shadow: none !important;   /* elimina sombra si existiera */
}

.flat-panelgrid .label {
    font-weight: 600;
    color: #1c1c1c;
    text-align: center;
    padding-right: 15px !important;
}

.custom-grid .label {
    font-weight: 600;
    color: #1c1c1c;
    text-align: center;
    padding-right: 15px !important;
}

.custom-grid .value {
    color: #333;
}

.aguilucho-image {
    height: 428px;
    width: auto;      /* mantiene la proporción */
    max-width: 100%;  /* evita que se salga del contenedor */
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}



/* PrimeIcons */
.pi::before {
    font-family: 'primeicons' !important;
}

/* ===== FOOTER ===== */
.layout-footer {
    background-color: #003366;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    flex-shrink: 0;
}

/* ============================================================
   COLORES DE LA TABLA
   ============================================================ */
.tabla-header {
    background-color: #1976D2 !important;
    color: #ffffff !important;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    width: 100%;
    display: block;
    padding: 10px !important;
    height: auto !important;
}

.ui-datatable thead th {
    padding: 0 !important;
}

.invisible {
    display: none;
}

.row-highlight {
    background: linear-gradient(90deg, #4a90e2, #007bff) !important;
    color: #fff !important;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.4);
    transition: all 0.2s ease-in-out;
}

.ui-datatable tbody tr.ui-state-hover {
    background: #BCBCBC !important;
    color: #0A0A0A !important;
    transform: scale(1.01);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.ui-datatable tbody tr {
    border-bottom: 1px solid #dcdcdc;
}

.ui-dialog {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.grupos-grid .panel-grupo {
    width: 100%;
    transition: all 0.3s ease;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}


.grupos-grid .panel-grupo:hover {
    background-color: #e6f0ff;
    border-color: #2196F3;
    box-shadow: 0 0 10px rgba(33, 150, 243, 0.5);
    transform: translateY(-3px);
}

.grupos-grid .ui-datagrid-content .ui-datagrid-column {
    width: 25% !important;   /* 1/4 del ancho */
}


/* Header del panel */
.ui-panel .ui-panel-titlebar {
    background: #003366 !important;
    color: #fff !important;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    border-radius: 6px 6px 0 0 !important;
    height: 30px !important;         /* El alto que quieras */
    line-height: 30px !important;     /* MISMO valor para centrar verticalmente */
    padding: 0 !important;
}

/* Eliminar márgenes internos del título */
.ui-panel .ui-panel-title {
    margin: 0 !important;
    padding: 0 !important;
}


/* Solo afecta a paneles que tengan styleClass="panel-azul" */
.panel-azul .ui-panel-titlebar {
    background: #003366 !important;
    color: #fff !important;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    border-radius: 6px 6px 0 0 !important;

    height: 40px !important;        /* tu altura */
    line-height: 40px !important;   /* debe coincidir */
    padding: 0 !important;
}
/* Tabla bordes y fondo */
#tablaHorarioSeleccionado {
    border: 1px solid #cce4f6 !important;
}

#tablaHorarioSeleccionado .ui-datatable-header,
#tablaHorarioSeleccionado th.ui-state-default {
    background: #1976D2 !important;
    color: #fff !important;
    font-weight: bold;
    text-align: center !important;
    border-color: #0a70b6 !important;
}

#tablaHorarioSeleccionado tbody td {
    background: #f7fbff !important;
    border-color: #d3e6f6 !important;
}

#tablaHorarioSeleccionado tbody tr:hover td {
    background: #e3f1ff !important;
}

/* Botones azul intenso */
#toolbarBotones .ui-button {
    background: #006bb3 !important;
    border: none !important;
    color: white !important;
    font-weight: bold;
    border-radius: 6px !important;
}

#toolbarBotones .ui-button.ui-state-disabled {
    background: #9fc5e8 !important;
    opacity: 0.6;
}

/* Bienvenida */
.welcome-box {
    max-width: 1300px;
    margin: 0 auto;
    padding: 5px;
    background: #ffffff;
    border-radius: 5px;
    transition: opacity .5s ease, transform .5s ease;
}

.welcome-title {
    font-size: 28px;
    font-weight: 700;
    color: #3f51b5;
    margin-bottom: 10px;
}

.welcome-subtitle {
    font-size: 16px;
    color: #5a5a5a;
    margin-bottom: 20px;
}

.welcome-image {
    height: 350px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    margin-bottom: 10px;
}

.welcome-label {
    font-size: 20px;
    font-weight: bold;
    color: #3f51b5;
    margin: 5px 0;
}

.welcome-label-small {
    font-size: 16px;
    font-weight: 500;
    color: #444;
}

@keyframes fadein {
    from {
        opacity:0;
        transform: translateY(15px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}

.hide-welcome {
    display: none !important;
}

/* Mensajes */
.mensaje-exito  .ui-panel-content {
    background-color: #d4edda !important;
    color: #155724 !important;
    border: 2px solid #28a745 !important;
    padding: 10px !important;
    border-radius: 6px !important;
}

.mensaje-naranja .ui-panel-content {
    background-color: #ffe5b4 !important;
    color: #9c5c00 !important;
    border: 2px solid #ff9800 !important;
    padding: 10px !important;
    border-radius: 6px !important;
}

.mensaje-amarillo .ui-panel-content {
    background-color: #fff9c4 !important;
    color: #856404 !important;
    border: 2px solid #ffeb3b !important;
    padding: 10px !important;
    border-radius: 6px !important;
}

.mensaje-error  .ui-panel-content{
    background-color: #f8d7da !important;
    color: #721c24 !important;
    border: 2px solid #dc3545 !important;
    padding: 10px !important;
    border-radius: 6px !important;
}

.mensaje-info .ui-panel-content {
    background-color: #cce5ff !important;
    color: #004085 !important;
    border: 2px solid #007bff !important;
    border-radius: 6px !important;
    padding: 10px;
}

/* Estados de disponibilidad */
.disponible {
    background-color: #0080C0 !important;
    color: #fff !important;
}
.acreditado {
    background-color: #A0D79F !important;
}
.cursando {
    background-color: #603060 !important;
    color: white !important;
}
.ordinario {
    background-color: #FFFF66 !important;
}
.repeticion {
    background-color: #FF9900 !important;
}
.especial {
    background-color: #FF0000 !important;
    color: white !important;
}
.nodisponible {
    background-color: #CCCCCC !important;
}
.blanco {
    background-color: #FFFFFF !important;
}

.disponible, .acreditado, .cursando, .ordinario, .repeticion, .especial, .nodisponible, .blanco {
    padding: 5px !important;
    text-align: center !important;
    font-size: 11px !important;
}

/* Simbología */
/* Espacio arriba */
.ultima-legend-horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* un poco más pequeño también */
    margin-top: 15px;
}
.ultima-legend-small {
    padding: 6px 10px;
    border-radius: var(--border-radius);
    font-size: .5rem;
    font-weight: 200;
    color: #fff;
    display: flex;
    align-items: center;
    box-shadow: var(--card-shadow);
    white-space: nowrap;
}



.legend-title {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    color: #1976D2 !important;
    text-align: center !important;
    margin-bottom: 0.5rem !important;
}
.legend-item {
    width: 120px;        /* ancho del cuadro */
    height: 60px;        /* alto del cuadro */
    display: flex;
    align-items: center; /* centra verticalmente */
    justify-content: center; /* centra horizontalmente */
    font-weight: bold;
    color: white;
    border-radius: 10px; /* esquinas redondeadas */
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* sombra suave */
    text-align: center;
    padding: 5px;
    cursor: default;
    transition: transform 0.2s;
}

.legend-item:hover {
    transform: scale(1.05); /* efecto hover */
}



/* Contenedor externo */
.legend-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

/* Contenedor principal */
.legend-container {
    width: 100%;           /* ocupa el ancho disponible */
    max-width: 1100px;     /* evita que se estire demasiado */
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

/* Encabezado */
.legend-header {
    background-color: #1976D2;
    color: white;
    padding: 8px 12px;
    font-size: 15px;
    font-weight: bold;
    width: 100%;            /* EXACTAMENTE el ancho del row */
    box-sizing: border-box;
}

/* Fila de celdas */
.legend-row {
    display: flex;
    flex-wrap: nowrap;      /* ⬅️ NO permite bajar a otra fila */
    width: 100%;
    box-sizing: border-box;
}

/* Celdas */
.legend-cell {
    flex: 1; 
   
    min-width: 0;           /* ⬅️ permite que se hagan pequeñas sin romper */
    padding: 5px;
    margin: 0px;
    height: 60px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: #eaeaea;
    border: 1px solid #ccc;
}
/* Colores de fondo y letras */
.acreditada {
    background-color: #A0D79F;
    color: #000000;
}
.cursando {
    background-color: #603060;
    color: #FFFFFF;
    font-size: 14px;
}
.cursada-prioridad {
    background-color: #FFFF66;
    color: #000000;
}
.curso-especial {
    background-color: #FF9900;
    color: #000000;
}
.curso-reprobado {
    background-color: #FF0000;
    color: #000000;
}
.materia-posible {
    background-color: #0080C0;
    color: #000000;
}
.materia-no-permitida {
    background-color: #CCCCCC;
    color: #000000;
}

.btn-icon-square {
    background: transparent !important;
    border: 2px solid #d00000 !important;    /* borde rojo marcado */
    color: #d00000 !important;               /* icono rojo */
    border-radius: 8px !important;           /* bordes suaves */
    width: 38px !important;                  /* tamaño base */
    height: 38px !important;
    padding: 0 !important;
    font-size: 1.4rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer;
    transition: transform 0.2s ease, border-color 0.2s ease, color 0.2s ease;
    box-shadow: none !important;
}

.btn-icon-square:hover {
    transform: scale(1.18);                  /* efecto de agrandarse */
    border-color: #ff3333 !important;        /* borde más claro */
    color: #ff3333 !important;               /* icono más claro */
}


/* Hace que cada celda del panelGrid apile el contenido verticalmente */
.ui-panelgrid .ui-panelgrid-cell {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 8px 12px;
}

/* Margen entre el label y el control */
.ui-panelgrid .ui-panelgrid-cell > *:not(:first-child) {
    margin-top: 6px;
}

/* Para que el select e input ocupen todo el ancho */
.ui-inputfield, 
.ui-selectonemenu {
    width: 100% !important;
}


